<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../stylesheet.css">

</head>

<body>
  <nav>
    <% if (user) { %>
      <a href="/tenants">HOME</a>
      <a href="/profiles/">PROFILE</a>
      <a href="/tenants/new">ADD NEW TENANT</a>
      <a href="/logout">LOG OUT</a>






      <% } %>
  </nav>
  <main>
    <h1>
      <%= title %>
    </h1>