<%- include('./partials/header') %>

    <h2>Home Page</h2>



    <div id="main-container">


        <div id="landing-page-container"></div>
        <h2>Current Tenants</h3>



            <% tenants.forEach(function(t) { %>



                <a href="/tenants/<%= t._id %>">
                    <%= t.name %>
                </a></td>

                <% }); %>


    </div>
    <%- include('./partials/footer') %>

        <script>

        </script>